<?php

	putenv('TTRSS_DB_TYPE=pgsql');
	putenv('TTRSS_DB_HOST=');
	putenv('TTRSS_DB_USER={{ ttrss_user }}');
	putenv('TTRSS_DB_NAME={{ ttrss_user }}');
	putenv('TTRSS_DB_PASS={{ ttrss_db_pw }}');
	putenv('TTRSS_DB_PORT=');

	putenv('TTRSS_SELF_URL_PATH={{ ttrss_url }}');

	putenv('TTRSS_AUTH_AUTO_CREATE=false');
	putenv('TTRSS_SINGLE_USER_MODE=true');

	define('ENABLE_REGISTRATION', false);

	// vim:ft=php

