server {
{% for listen in ttrss_listen %}
  listen {{ listen }};
{% endfor %}

  server_name {{ ttrss_host }};
  root {{ ttrss_www }};

  index index.php index.html;
  location ~ \.php(?:$|/) {
    include php-fpm;
  }
}
