server {
  listen {{ vars['ansible_' ~ tinc_prefix ~ tinc_name]['ipv4']['address'] }}:{{ ttrss_port }};

  server_name {{ ttrss_host }};
  root {{ ttrss_www }};

  index index.php index.html;
  location ~ \.php(?:$|/) {
    include php-fpm;
  }
}
